.editor-panel {
  max-height: 91vh;
  overflow: hidden;
}
.sidebar-menu-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 50px;
  width: 50px;
  height: 91vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

.sidebar-menu-bar a:hover {
  color: red;
}
.sidebar-menu-bar a,
.sidebar-menu-bar div.mode a {
  font-size: 20px;
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar-menu-bar div.mode {
  padding-top: 5px;
  width: 45px;
  background-color: var(--sidebar-color);
  text-align: center;
  cursor: pointer;
  border-radius: 10%;
}
.sidebar-menu-bar div.mode:hover {
  background-color: #18191a;
}
body.dark .sidebar-menu-bar div.mode:hover {
  background-color: #fff;
}
.sidebar-menu-bar div.mode a.dark_light:hover {
  color: #fff;
}
body.dark .sidebar-menu-bar div.mode:hover {
  color: #fff;
}
body.dark .sidebar-menu-bar div.mode a.dark_light:hover {
  color: #18191a;
}

/* ---Terminal--- */
.terminal {
  width: 95.6%;
  background-color: #000;
  height: 115px;
  margin-left: 50px;
  overflow: auto;
  opacity: 0;
}
.terminal-bar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: var(--body-color);
}

.terminal-bar a i {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.terminal-bar a i:hover {
  background-color: #fff;
}

.terminal p {
  color: #fff;
  margin-left: 10px;
}

.terminal-output p:last-child {
  margin-bottom: 40px;
}
